In [2]:
import sys
sys.path.append('..')

In [10]:
%load_ext autoreload
%autoreload 2

# Generate Sythetic Data

In [13]:
from src.DataGenerator import DataGenerator

# init generator
gen = DataGenerator()

# generate data set 1
# set seed for reproducibility
data = gen.generate_data(1, n_samples=100, seed=734)
data.head()

         X0        X1     price  optimal_price  Y
0  4.349181  6.046062  3.628647       2.846879  0
1  5.276369  5.213006  4.383376       4.172205  0
2  7.538592  6.492836  5.508937       7.882586  1
3  5.985619  5.342646  6.083502       4.662296  0
4  2.828041  5.284333  5.632474       0.857630  0